@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


#buyCripto {
  margin: 50px;
}

#auth{
  margin: 100px;
}

#sellCripto {
  margin: 50px;
}


.nav-bar {
  background-color: rgb(0, 19, 43);
  height: 80px;
  display:flex;
  align-items: center;
  font-size: 20px;
  color:white;
  padding-right:30px;
  justify-content: space-between;
  
}

.nav-bar > a{
  color:white
}

.home-page{
  background-image:url("https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg");
  height:100vh;
  padding-top: 20px;
 
}

.home-page > h1, .home-page > h4 {
  color:white
}

.card-box{
margin:10px 150px;

}
.admin-page{
  padding-top: 20px;
}

.user-profile{
  color:red ;
  padding:10px 100px
}

.profile-page{
  padding-top: 40px;
  padding-bottom: 40px;
}

.add-accounts{
  margin-top: 20px;
  margin-bottom: 20px;
}

