@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


#buyCripto {
  margin: 50px;
}

#auth{
  margin: 100px;
}

#sellCripto {
  margin: 50px;
}



/* Nav bar CSS */


.nav-bar {
  background-color: rgb(0, 19, 43);
  height: 80px;
  display:flex;
  align-items: center;
  font-size: 20px;
  color:white;
  padding-right:30px;
  justify-content: space-between;
  
}

.nav-bar > a{
  color:white
}


/* Home Page CSS */


.home-page>img{
  width: 80%;
  height: auto;
}

.home-page{
  background-image:url("https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg");
  height:100%;
  padding-top: 20px;
 
}

.home-page > h1, .home-page > h4 {
  color:white
}



/* Team page */

.team-text {
  color:white;
  width: 50%;
  text-align:justify;
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif; 
  margin:auto;
  font-size: medium;
}

.team-img>img{
  width: 20%;
  height: auto;
}
/* -------------- */



.education-img>img{
  width: 60%;
  height: auto;
}

.education-img{
  padding-bottom: 20px;
}

/* ------- */

.card-box{
margin:10px 150px;

}
.admin-page{
  padding-top: 20px;
}

.user-profile{
  color:red ;
  padding:10px 100px
}

.profile-page{
  padding-top: 40px;
  padding-bottom: 40px;
}

.add-accounts{
  margin-top: 20px;
  margin-bottom: 20px;
}
